version: "3.9"

services:
  weather-api:
    container_name: weather-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"

    environment:
      WEBSITES_INCLUDE_CLOUD_CERTS: "true"
      AzureWebJobsStorage: UseDevelopmentStorage=true
      FUNCTIONS_WORKER_RUNTIME: dotnet-isolated
      WEATHER_API_KEY: ${WEATHER_API_KEY}
      VISUAL_CROSSING_KEY: ${VISUAL_CROSSING_KEY}

    env_file:
      - .env
